:host {
  position: relative;

  ::ng-deep .menu {
    width: 150px;
    position: absolute;
    bottom: -100%;
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  }
}
