<div>
  <!-- Intro Section -->
  <section class="hero relative overflow-hidden flex flex-grow items-center">

    <div class="hero-text container mx-auto relative z-50">
      <div class="py-60 w-full md:w-8/12 mx-auto">
        <img src="../../../assets/img/hero-text.svg" alt="">
        <div class="text">
          <p>
            The <span>#1 app</span> to watch, clip, and share your awesome gaming moments with the world!
            Get started today!
          </p>
          <button class="primary-btn">
            Let's Roll
          </button>
        </div>
      </div>
    </div>

    <div class="hero-img">
      <img src="../../../assets/img/hero.png" alt="hero image">
    </div>
  </section>

  <!-- Main Content -->
  <section class="container mx-auto">
    <h1 class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">Latest</h1>
    <app-clips-list></app-clips-list>
  </section>
</div>
