header {
  width: 100%;
  background-color: transparent;
  transition: 0.3s all linear;
  margin-bottom: 100px;
  position: fixed;
  z-index: 999;

  &.nav-sticky {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  }
}

nav {
  width: 90%;
  display: flex;
  color: #333;

  .logo {
    span {
      color: #c264f4;
    }
  }
}

nav > div,
nav > div ul {
  display: flex;
  font-weight: 500;
  font-size: 1em;
}

.nav-user {
  display: flex;
  gap: 0.5em;
  align-items: center;

  img {
    width: 35px;
  }

  .log-out a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menuWrapper {
  width: max-content;
  position: absolute;
  top: 100%;
  left: -50%;
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
